 <!DOCTYPE html>
<html>
<head>
<style>
img {
  float: right;
}
</style>
<style>
h1 {text-align: center;}
p {text-align: center;}
div {text-align: center;}
</style>

<style>
.footer {
   position: fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: gray;
   color: white;
   text-align: center;
}
</style>
<title>Jimena Aliaga blog</title>
<nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">JAS</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/contacto">Contacto</a>
        </li>
        
      <form class="d-flex" role="Search">
        <input class="form-control me-2" type="Buscar" placeholder="Búsqueda" aria-label="Buscar">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>
</head>
<body>
<div>
<div class="text-bg-light p-3">
<h1>Bienvenidos a mi blog personal</h1>
<h2> Jimena Aliaga Sanhueza</h2>
<h3> Contacto: jimena@ejemplo.cl </h3>
<br>
<br>
<h3> Perfil profesional</h3>
<p>Alto nivel de organización y motivación para aprender, sentido de la estética y buen gusto; dedicada, comprometida y con orientación a la innovación; responsable, proactiva y comparte conocimientos; contribuye al desarrollo del trabajo en equipo, con probidad y transparencia, y trabaja con eficiencia y eficacia en todo lo solicitado. </p>
 <%= image_tag("avatar_image.jpg", :alt => "Jimena")%>
 <br>
 <br>
 
 <div class=container >
<h3> Hobbies y pasiones </h3>
 <p> En mi tiempo libre disfruto salir a correr, caminar o compartir con mis amigos. Amo a los animales, viajar y aprender algo nuevo cada día.</p>
 <br>
 <br>
<h3>Últimos dos trabajos</h3>
<p> Analista de medios y asistente bilingüe de gerencia </p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="footer">
  <p>Copyright ⓒ 2022 </p>
</div>

</div>
</div>
</body>
</html> 




